<html>
    <head>
        <title>Estelle's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Estelle's Blog</a></h1>
        </div>
        <div>
            <p>published: 13:14 06.22, 2020</p>
            <h2><a href="">MY First Blog</a></h2>
            <p>Hi Lucky, this is my first blog and written by myself!</p>
        </div>
        <div>
            <P>published: 15:00 06.22, 2020</p>
            <h2><a href="">MY Second Blog</a></h2>
        </div>
    </body>
</html>




